<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="unititled">
	<meta name="keywords" content="HTML5 Crowdfunding Profile Template">
	<meta name="author" content="Audain Designs">

	<title>Project Page</title>
	  {% load static %}
	<!-- Gobal CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--link href="{% static 'donor/css/bootstrap.min.css' %}" rel="stylesheet"-->
	<link rel="shortcut icon" href="{% static 'donor/favicon.ico' %}">

	<!-- Template CSS -->
	<link href="{% static 'donor/css/project_page.css' %}" rel="stylesheet">

	<!--Fonts-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--Google Analytics-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-12345678-9', 'auto');
		ga('send', 'pageview');

	</script>
	<script>
function goBack() {
  window.history.back();
}
</script>

</head>
<body>
	<!--header-->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="goal-summary pull-left">
					<div class="backers">
						<h3>No of peoples in event</h3>
						<span>backers</span>
					</div>
					<div class="funded">
						<h3>[[money raised]] </h3>
						<span>raised out of </span>
					</div>
					<div class="time-left">
						<h3>[[Last Date]]</h3>
						<span>Last Date</span>
					</div>

					<a href="{% url 'donordashboard' %}">	<button  type="">Go Back</button></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--/header-->
	<!--main content-->
	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="content col-md-8 col-sm-12 col-xs-12">
					<div class="section-block">
						<div class="funding-meta">
							<h1>{{s.evname}}</h1>
							<span class="type-meta"><i class="fa fa-user"></i>{{username}}</span>
							<span class="type-meta"><i class="fa fa-tag"></i> <a href="#">{{s.evtype}}</a>, <a href="#">Donate</a> </span>
							<!--img src="assets/img/image-heartbeat.jpg" class="img-responsive" alt="launch HTML5 Crowdfunding"-->

              <!-- for loop-->
							<div class="image text-center">
	    <img src="{{s.evpic_path}}"  style="width:300px; height:350px; margin-top:50px;">
		   <p>{{s.evdesc}}</p>
		</div>
              <!-- end for-->


							<h2>[[amount]]</h2>
							<span class="contribution">raised by <strong>[[backers]]</strong> ready to launch</span>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{perc}}" aria-valuemin="0" aria-valuemax="400" style="width: {{perc}}%;">
									<span class="sr-only">[[perc]] Complete</span>
								</div>
							</div>
							<span class="goal-progress"><strong>[[perc]]%</strong> of {{s.ev_exfunds}} raised</span>
						</div>

					<a href="#" class="btn btn-launch" data-toggle="modal" data-target="#myModal">DONATE HERE</a>
						<a href="#" class="btn btn-launch" data-toggle="modal" data-target="#myModal1">DONATE FOOD</a>
							<a href="#" class="btn btn-launch" data-toggle="modal" data-target="#myModal2">DONATE STATIONARY</a>
					<!--if-->
					{% if liked %}
					<div class="">
							u liked it
					</div>

						 <!--else-->
						  {% else %}
						 <form class="" action="{% url 'likeadd' %}" method="post" id="likeform">
							 <button type="submit"  id="like" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-thumbs-up"></span> Like
							</button>
							 <input type="hidden" name="pid" value="{{s.id}}">
							 {% csrf_token %}
						 </form>
						   {% endif %}




					</div>
					<!--Modal-->
					<!-- The Modal -->
						<div class="modal fade" id="myModal">
							<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h4>Make Donation</h4>
								</div>

								<!-- Modal body -->
								<form class="form-group" method="post" action="{% url 'money_donation' sid=s.id %}">
									{% csrf_token %}
								<div class="modal-body">





									<label for="amount"> Amount:</label>
									<input class="form-check-input" type="number" name="money" id="method" value="money" placeholder="Amount in rupees"><br/>
									<br>
									<input type="hidden" name="idpro" value="">
									<div class="form-check my-3" >
									<label for="method">Payment Method</label><br>
									<input class="form-check-input" type="radio" name="method" id="method" value="Debit">Debit Card<br/>
									<input class="form-check-input" type="radio" name="method" id="method" value="Credit"><span>Credit Card</span><br>
									<input class="form-check-input" type="radio" name="method" id="method" value="PayTM">PayTM<br>
										</div>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
								<button type="" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<input type="submit" class="btn btn-secondary" >
								</div>
							</form>
							</div>
							</div>
						</div>
						<div class="modal fade" id="myModal1">
							<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h4>Make Donation</h4>
								</div>

								<!-- Modal body -->
								<form class="form-group" method="post" action="{% url 'food_donation' sid=s.id %}">
									{% csrf_token %}
								<div class="modal-body">





									<label for="amount" style="margin-right:20px;">Number Of Children</label>
									<input class="form-check-input" type="number" name="food" id="method77" value="" placeholder="No of people you want to be served" required><br/><br><br>
									<button type="button" name="button" onclick="amount()" style="margin-right:20px;">Estimate amount to be paid</button>
									<input class="form-check-input" type="hidden" name="method" id="method_amount" value="" placeholder=""><br/><br>
									<input type="hidden" name="idpro" value="">
									<div class="form-check my-3" >
									<label for="method">Payment Method</label><br>
									<input class="form-check-input" type="radio" name="method" id="method" value="Debit">Debit Card<br/>
									<input class="form-check-input" type="radio" name="method" id="method" value="Credit"><span>Credit Card</span><br>
									<input class="form-check-input" type="radio" name="method" id="method" value="PayTM">PayTM<br>
										</div>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<input type="submit" class="btn btn-secondary" >
								</div>
							</form>
							</div>
							</div>
						</div>
						<script type="text/javascript">
							function amount(){
								var amt=document.getElementById('method77').value;
								console.log(amt);
								amt=Number(amt)*100;
								console.log(amt);
								document.getElementById('method_amount').type='text';
								document.getElementById('method_amount').value=String(amt);
							}
						</script>
						<div class="modal fade" id="myModal2">
							<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h4>Make Donation</h4>
								</div>

								<!-- Modal body -->
								<form class="form-group" method="post" action="{% url 'stationary_donation' sid=s.id %}">
									{% csrf_token %}
								<div class="modal-body">





									<label for="amount" style="margin-right:20px;">Number Of Children</label>
									<input class="form-check-input" type="number" name="stationary" id="method88" value="" placeholder="No of people you want to provide stationary" required><br/><br><br>
									<button type="button" name="button" onclick="amountt()" style="margin-right:20px;">Estimate amount to paid</button>
									<input class="form-check-input" type="hidden" name="method" id="method_amountt" value="" placeholder=""><br/><br>

									<br>
									<input type="hidden" name="idpro" value="">
									<div class="form-check my-3" >
									<label for="method">Payment Method</label><br>
									<input class="form-check-input" type="radio" name="method" id="method" value="Debit">Debit Card<br/>
									<input class="form-check-input" type="radio" name="method" id="method" value="Credit"><span>Credit Card</span><br>
									<input class="form-check-input" type="radio" name="method" id="method" value="PayTM">PayTM<br>
										</div>
								</div>
								<script type="text/javascript">
									function amountt(){
										var amt=document.getElementById('method88').value;
										console.log(amt);
										amt=Number(amt)*100;
										console.log(amt);
										document.getElementById('method_amountt').type='text';
										document.getElementById('method_amountt').value=String(amt);
									}
								</script>

								<!-- Modal footer -->
								<div class="modal-footer">
								<button type="" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<input type="submit" class="btn btn-secondary" >
								</div>
							</form>
							</div>
							</div>
						</div>

					<!--signup-->

					<!--/signup-->
					<!--tabs-->

					<!--/tabs-->
					<!--tab panes-->

				<!--Comments Section-->

					<div class="section-block">

							<div class="update-information">
								<h1 class="section-title">Comments</h1>
								<!--update items-->
								<form class="" action="{% url 'commententer' %}" method="post">
									  {% csrf_token %}
									<div class="form-group">
											<div class="form-group">
													<textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
													<input type="hidden" name="pid" value="{{s.id}}" >
											</div>
											<div class="btn">
													<button type="submit  "class="btn btn-reward" type="button">Share</button>
											</div>
									</div>
								</form>
										{% for i in c %}
								<div class="update-post">
									<h4 class="update-title">{{i.username}} | <small></small></h4>
									<span class="update-date">{{i.cvdate}}</span>
									<p>{{i.comment}}</p>
								</div>

                  {% endfor %}
									<!--/update items-->
							</div>
					</div>
				<!--/Comments Section-->
				</div>
				<!--/tabs-->
				<!--/main content-->
				<!--sidebar-->
				<div class="content col-md-4 col-sm-12 col-xs-12">
					<div class="section-block summary">
						<h1 class="section-title">Spread the word!</h1>
						<div class="profile-contents">
							<h2 class="position">Sky Rocketing Your Funding Campaign</h2>
							<!--social links-->
							<ul class="list-inline">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-git"></i></a></li>
							</ul>
							<!--/social links-->
							<a href="#" class="btn btn-contact"><i class="fa fa-envelope"></i>CONTACT US</a>
						</div>
					</div>
					<div class="section-x">
						<!--reward blocks-->
						<div class="reward-block">
							<h2>FAQ's</h2>
							<p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
							<a href="" class="btn btn-reward">More Info.</a>
						</div>
						<div class="reward-block last">
							<h2>Payment Process</h2>
							<p>Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.</p>
							<a href="" class="btn btn-reward">Pay</a>
						</div>

						<!--/reward blocks-->
					</div>
				</div>
				<!--/sidebar-->
			</div>
		</div>
	</div>
	<footer class="footer">
	<div class="container">
			<div class="row">
				<span class="copyright">Created by <a href="#" target="_blank">Team Elite++</a></span>
			</div>
		</div>
	</footer>

	<!-- Global jQuery -->
	<script type="text/javascript" src="{% static 'donor/js/jquery-1.12.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'donor/js/bootstrap.min.js' %}"></script>

	<!-- Template JS -->
	<script type="text/javascript" src="{% static 'donor/js/main1.js' %}"></script>

</body>
</html>
